<h3>Detalles de la sala</h3>
<div>
    <div>
        <label for=""><b>Id :</b> {{sala.id}}</label>
    </div>
    <div>
        <label for=""><b>Nombre :</b> {{sala.nombre}}</label>
    </div>
    <div>
        <label for=""><b>Descripción :</b> {{sala.descripcion}}</label>
    </div>
    <div>
        <label for=""><b>Ubicación :</b> {{sala.deletedAt}}</label>
    </div>
    <div>
        <label for=""><b>Estado ocupacional :</b> {{ obtenerEstadoOcupacional(sala.estadoOcupacional) }}</label>
    </div>
</div>

