<div class="container mt-5">
  <div class="btn-group">
    <button 
      *ngFor="let button of buttons" 
      class="btn" 
      [ngClass]="{'btn-primary': selectedButton === button, 'btn-secondary': selectedButton !== button}"
      (click)="setActiveButton(button)">
      {{ button }}
    </button>
  </div>

  <!-- Botones de acción -->
  <div class="d-flex justify-content-between mt-3">
    <button *ngIf="selectedButton === 'Equipos'" class="btn btn-primary" (click)="openModal('add', 'equipo')">Agregar Equipo</button>
    <button *ngIf="selectedButton === 'Mantenimientos'" class="btn btn-primary" (click)="openModal('add', 'mantenimiento')">Agregar Mantenimiento</button>
  </div>

  <!-- Tabla de Equipos -->
  <div class="table-responsive mt-4" *ngIf="selectedButton === 'Equipos'">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Código</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Ubicación</th>
          <th>Costo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equipos">
          <td>{{ equipo.codigoIdentificacion }}</td>
          <td>{{ equipo.nombre }}</td>
          <td>{{ equipo.descripcion }}</td>
          <td>{{ equipo.ubicacion }}</td>
          <td>{{ equipo.costo | currency }}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="openModal('edit', 'equipo', equipo)">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="delete('equipo', equipo.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<!-- Tabla de Mantenimientos -->
  <div class="table-responsive mt-4" *ngIf="selectedButton === 'Mantenimientos'">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Equipo</th>
          <th>Repuestos Utilizados</th>
          <th>Observación</th>
          <th>Tipo</th>
          <th>Responsable</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mantenimiento of mantenimientos">
          <td>{{ mantenimiento.fechaMantenimiento | date }}</td>
          <td>{{ mantenimiento.equipo.nombre }}</td>
          <td>{{ mantenimiento.repuestosUtilizados }}</td>
          <td>{{ mantenimiento.observacion }}</td>
          <td>{{ mantenimiento.tipoMantenimiento }}</td>
          <td>{{ mantenimiento.responsableMantenimiento }}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="openModal('edit', 'mantenimiento', mantenimiento)">Editar</button>
            <button class="btn btn-sm btn-danger" (click)="delete('mantenimiento', mantenimiento.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!-- Modal -->
  <div *ngIf="isModalOpen" class="modal-backdrop">
    <div class="modal-content modal-form">
      <h3 class="modal-title">
        {{ modalMode === 'add' ? 'Agregar' : 'Editar' }} {{ modalType === 'equipo' ? 'Equipo' : 'Mantenimiento' }}
      </h3>
      <form (submit)="save()">
        <!-- Campos específicos para equipos o mantenimientos -->
        <ng-container *ngIf="modalType === 'equipo'">
          <div class="form-group">
            <label>Código de Identificación:</label>
            <input type="text" [(ngModel)]="currentItem.codigoIdentificacion" name="codigoIdentificacion" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Nombre:</label>
            <input type="text" [(ngModel)]="currentItem.nombre" name="nombre" class="form-control" required />
          </div>
          <div class="form-group">
            <label>Descripción:</label>
            <textarea [(ngModel)]="currentItem.descripcion" name="descripcion" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Ubicación:</label>
            <input type="text" [(ngModel)]="currentItem.ubicacion" name="ubicacion" class="form-control" />
          </div>
          <div class="form-group">
            <label>Costo:</label>
            <input type="number" [(ngModel)]="currentItem.costo" name="costo" class="form-control" />
          </div>
        </ng-container>
        <ng-container *ngIf="modalType === 'mantenimiento'">
          <div class="form-group">
            <label>Fecha de Mantenimiento:</label>
            <input type="date" [(ngModel)]="currentItem.fechaMantenimiento" name="fechaMantenimiento" class="form-control" />
          </div>
        </ng-container>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success">{{ modalMode === 'add' ? 'Agregar' : 'Guardar' }}</button>
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
