<div class="container mt-5">
    <h2>Usuarios</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>John</td>
          <td>Doe</td>
          <td>28</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jane</td>
          <td>Smith</td>
          <td>32</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Michael</td>
          <td>Johnson</td>
          <td>25</td>
        </tr>
      </tbody>
    </table>
  </div>