<h2 class="text-center my-4">Listado de salas</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <!-- <th>Id Registro</th> -->
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sala of salas">
                <!-- <td>{{ sala.id_sala }}</td> -->
                <td>{{ sala.nombre }}</td>
                <td>{{ sala.ubicacion }}</td>
                <td>{{ sala.descripcion }}</td>
                <td class="text-center">
                    <button (click)="actualizarSala(sala.id)" class="btn btn-info btn-sm">Editar</button>
                    <button (click)="eliminarSala(sala.id)" class="btn btn-danger btn-sm mx-2">Eliminar</button>
                    <button (click)="verDetallesDeSala(sala.id)" class="btn btn-primary btn-sm">Detalles</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
