<h2 class="text-center my-4">Listado de salas</h2>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark text-center">
            <tr>
                <th>Id Registro</th>
                <th>Nombre</th>
                <th>Ubicación</th>
                <th>Descripción</th>
                <th>Estado ocupacional</th>
                <th>Codigo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sala of salas | paginate: { itemsPerPage: 8, currentPage: page }">
                <td>{{ sala.id }}</td>
                <td>{{ sala.nombre }}</td>
                <td>{{ sala.ubicacion }}</td>
                <td>{{ sala.descripcion }}</td>
                <td>{{ obtenerEstadoOcupacional(sala.estadoOcupacional) }}</td>
                <td>{{ sala.code }}</td>
                <td class="text-center">
                    <button type="button" (click)="actualizarSala(sala.id)" class="btn btn-info btn-sm">Editar</button>
                    <button type="button" (click)="eliminarSala(sala.id)" class="btn btn-danger btn-sm mx-2">Eliminar</button>
                    <button (click)="verDetallesDeSala(sala.id)" class="btn btn-primary" style="margin-left: 10px;">Detalles</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>