<div class="dashboard-container">
    <header>
        <div class="header-content">
            <div class="date-user-container" style="display: flex; align-items: center; justify-content: space-between;">
                <!-- Botón para la fecha -->
                <button type="button" class="btn btn-primary date-button" style="border-radius: 20px; padding: 8px 15px;">
                    <span class="date-label">Fecha actual:</span> {{ currentDate }}
                </button>
                
                <div class="notification-container">
                    <button class="btn btn-icon notification-bell" (click)="toggleDropdown()">
                        <i class="fa fa-bell"></i>
                        <span class="notification-count" *ngIf="alertas.length > 0">{{ alertas.length }}</span>
                    </button>
                    <ul class="notification-dropdown" *ngIf="alertas.length > 0 && showDropdown">
                        <li *ngFor="let alerta of alertas; let i = index">
                            <div class="notification-item">
                                <div class="notification-message">
                                    <strong>{{ alerta.mensaje }}</strong>
                                    <span class="notification-date">{{ alerta.fechaAlerta | date:'short' }}</span>
                                </div>
                                <button class="btn btn-sm btn-primary mark-read" (click)="marcarAlertaComoAtendida(alerta, i)">
                                    Marcar como atendida
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- Imagen de usuario -->
                <img src="https://img.icons8.com/?size=100&id=41799&format=png&color=000000" 
                     alt="Logo_User" 
                     class="user-avatar" 
                     style="width: 40px; height: 40px; border-radius: 50%; margin-left: 20px;">
            </div>
        </div>
    </header>
    
    <div class="main-content">
        <nav class="menu">
            <button class="btn btn-secondary" routerLink="agendamiento">
                <img src="assets/Icons/laboratorios.svg" alt="listarSalas" class="icon">
                Laboratorios
            </button>

            <button class="btn btn-secondary" *ngIf="rolUsuario === 'admin'" routerLink="inventario">
                <img src="https://img.icons8.com/?size=100&id=1395&format=png&color=000000" alt="inventario" class="icon">
                Inventario
            </button>
            <!--<button class="btn btn-secondary" routerLink="usuarios">
                <img src="https://img.icons8.com/?size=100&id=11168&format=png&color=000000" alt="usuarios" class="icon">
                Usuarios
            </button>-->
            <!--<button class="btn btn-secondary" routerLink="asistencia">
                <img src="https://img.icons8.com/?size=100&id=4023&format=png&color=000000" alt="asistencia" class="icon">
                Asistencia
            </button>-->
            <!--
            <button class="btn btn-secondary" routerLink="reporte">
                <img src="https://img.icons8.com/?size=100&id=iTjVs2F27MrP&format=png&color=000000" alt="reporte" class="icon">
                Reporte
            </button>
            -->
            <button class="btn btn-secondary" *ngIf="rolUsuario === 'admin'" routerLink="listarMantenimientos">
                <img src="https://img.icons8.com/?size=100&id=11151&format=png&color=000000" alt="mantenimientos" class="icon">
                Mantenimientos
            </button>
        </nav>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Corporación Universitaria del Huila CORHUILA. Todos los derechos reservados.</p>
            <ul class="footer-links">
                <li><a href="https://corhuila.edu.co/" target="_blank">Sobre nosotros</a></li>
                <li><a href="https://corhuila.edu.co/" target="_blank">Servicios</a></li>
                <li><a href="https://corhuila.edu.co/" target="_blank">Contacto</a></li>
            </ul>
            <div class="footer-logo">
                <img src="assets/images/LOGO_CORHUILA.png" alt="Logo_CORHUILA" class="logo">
            </div>
        </div>
    </footer>
    
</div>
