<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>20 Lunes</th>
        <th>21 Martes</th>
        <th>22 Miércoles</th>
        <th>23 Jueves</th>
        <th>24 Viernes</th>
        <th>25 Sábado</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>6 A.M</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>7 A.M</td>
        <td class="bg-info text-white">Sala de sistemas<br>Ocupado</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>8 A.M</td>
        <td></td>
        <td></td>
        <td class="bg-info text-white">Sala de sistemas<br>Ocupado</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>9 A.M</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>10 A.M</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bg-info text-white">Sala de sistemas<br>Ocupado</td>
        <td></td>
      </tr>
      <tr>
        <td>11 A.M</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
